:root{
  --quill-border-color:#ced4da;
}

.quill-row {
  border-left: 1px solid var(--quill-border-color);
  border-top: 1px solid var(--quill-border-color);
  border-bottom: 1px solid var(--quill-border-color);
}

.quill-row > div {
  border-right: 1px solid var(--quill-border-color);
}