<div class="row quill-row">
  <div class="col-sm">
    <div class="quill-content" data-number="1"></div>
  </div>
  <div class="col-sm">
    <div class="quill-content" data-number="2"></div>
  </div>
</div>
