<div class="row">
  <div class="col-sm">{{ ARTICLES[0] }}</div>
</div>
<div class="row">
  <div class="col-sm quill-content" data-number="1"></div>
</div>
<div class="row">
  <div class="col-sm quill-content" data-number="1"></div>
</div>
<div class="row">
  <div class="col-sm quill-content" data-number="1"></div>
</div>
