{% extends 'layout.html.twig' %}

{% block header %}
  {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
  <style>
    input.compte {
      margin: 0px;
      height: 100%;
      padding-left: 4px;
      border: none;
    }
    .disabled {
      cursor: not-allowed;
      background-color: lightgray;
    }
    
    ul.compte {
      list-style-type: none;
      display: inline-block;
    }
    ul.compte > li {
      border: 1px solid #bec4c8;
      border-radius: 5px;
      display: inline-block;
      padding: 4px;
      margin: 4px;
      font-size: 0.8em;
    }
    
    .material-switch > input[type='checkbox'] {
      display: none;
    }
    
    .material-switch > label {
      cursor: pointer;
      height: 0px;
      position: relative;
      width: 40px;
    }
    .label-success {
      background-color: lightgreen;
    }
    .material-switch > label::before {
      background: rgb(0, 0, 0);
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      content: '';
      height: 16px;
      margin-top: -8px;
      position: absolute;
      opacity: 0.3;
      transition: all 0.4s ease-in-out;
      width: 40px;
    }
    .material-switch > label::after {
      background: rgb(255, 255, 255);
      border-radius: 16px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      content: '';
      height: 24px;
      left: -4px;
      margin-top: -8px;
      position: absolute;
      top: -4px;
      transition: all 0.3s ease-in-out;
      width: 24px;
    }
    .material-switch > input[type='checkbox']:checked + label::before {
      background: inherit;
      opacity: 0.7;
    }
    .material-switch > input[type='checkbox']:checked + label::after {
      background: inherit;
      left: 20px;
    }
  </style>
  {% if xdebug == 2 %}
    {% set xdtemplate = _self %}
    {% include 'xdeb2.html.twig' %}
  {% endif %}
  <div class="col-md-12" style="padding-left: 4px;margin-top:10px;margin-left:4px;">
    <h5>Changez votre mot de passe</h5>
    <div class="col-md-12">
      <table class="table table-responsive">
        <tr>
          <td>Nouveau mot de passe</td>
          <td>
            <input type="password" name="password" class="form-control compte ttip" id="password" placeholder="Mot de passe" required value="" />
          </td>
        </tr>
        <tr>
          <td>Confirmez</td>
          <td>
            <input type="password" name="password2" class="form-control compte ttip" id="password2" placeholder="Confirmez" />
          </td>
        </tr>
      </table>
    </div>

    <div class="row" style="padding-top: 1rem">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button type="button" class="btn btn-success" onclick="saveUsr();"><i class="fasr fa-sign-in"></i> Sauvegarder</button>
      </div>
    </div>
    <script type="text/javascript">
      function saveUsr() {
        var password = $('#password').val()
        var password2 = $('#password2').val()
      
        var datas = {
          password: password,
          password2: password2
        }
        sendFormData(Route.get('auth_ajax_save'), datas, function (response) {
          if (response.result != 1) return Swal.fire('Erreur', response.message, 'error')
          Swal.fire('OK !', '', 'success')
        })
      }
    </script>
  </div>
{% endblock %}
