{% extends 'layout.html.twig' %}
{% set title_content = 'Accueil' %}
{% set title_icon_class = 'fa-solid fa-home' %}
{% set SITE_TITLE = title_content %}

{% block include_additional_libs %}
  {{ script('assets/js/home/home.js') }}
{% endblock %}

{% block body %}
  {% if xdebug == 2 %}
    {% set xdtemplate = _self %}
    {% include 'xdeb2.html.twig' %}
  {% endif %}
  <div class="container">
    <div class="row">
      <h1>Welcome...</h1>
      <span>Documentation du framework disponible ici : 
      <br>
      <a href="http://192.168.10.221/documentation/doc?p=pour-commencer" target="_blank">http://192.168.10.221/documentation/</a>
    </div>
  </div>
{% endblock %}
