<div class="modal fade" id="mdl_reset_pwd" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {% if xdebug == 2 %}
          {% set xdtemplate = _self %}
          {% include 'xdeb2.html.twig' %}
        {% endif %}
        <h5 class="modal-title">Nouveau mot de passe</h5>
      </div>
      <div class="modal-body">
        Le nouveau mot de passe sera envoyé par mail à l'utilisateur.
        <label class="col-form-label">Mot de passe :</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-describedby="basic-addon2" id="inp_reset_pwd" />
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" id="btn_generate_reset_pwd"><i class="fass fa-sync-alt"></i></button>
          </div>
        </div>
      </div>
      <input type="hidden" id="userid_reset_pwd" value="" />
      <input type="hidden" id="mail_reset_pwd" value="" />
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn_reset_pwd">Envoyer</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
